<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <style>
        .correct {
            color: green;
            font-weight: bold;
        }

        .incorrect {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header>
        <h1>Bird Quiz</h1>
    </header>
    <main>
        <div class="quiz-container">
            <h2>Question {{ current_question_index }} of {{ num_questions }}</h2>

            <div class="quiz-container">
                {% if is_correct %}
                <p class="correct">Your answer was correct! </p>
                {% else %}
                <p class="incorrect">Your answer was incorrect!</p>
                {% endif %}

                <p>The correct answer was: <strong>{{ correct_answer }}</strong></p>

                <iframe src="{{ embed_url }}" frameborder="0" allowfullscreen style="width: 100%; height: 400px;">
                </iframe>

                {% if current_question_index == num_questions %}
                <form action="{{ url_for('answer') }}" method="POST">
                    <button type="submit" name="endButton">Finish</button>
                </form>
                {% else %}
                <form action="{{ url_for('answer') }}" method="POST">
                    <button type="submit" name="nextButton">Next Question</button>
                </form>
                {% endif %}
            </div>
</body>

</html>