<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz End</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="quiz-container">
        <h1>Quiz Completed!</h1>
        <p>Thank you for participating in the bird identification quiz.</p>
        <p>Your score: {{ num_correct_answers }}/{{ num_questions }}</p>

        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>

        <!-- Incorrectly Answered Section -->
        <section>
            <h3 style="color: red;">Incorrectly Answered</h3>
            {% if incorrect_questions %}
                <div class="images-container">
                    {% for question in incorrect_questions %}
                        <div class="image-card">
                            <iframe src="{{ question.embed_URL }}" frameborder="0" allowfullscreen style="height: 400px;"></iframe>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No questions were answered incorrectly.</p>
            {% endif %}
        </section>

         <!-- Correctly Answered Section -->
         <section>
            <h3 style="color: green;">Correctly Answered</h3>
            {% if correct_questions %}
                <div class="images-container">
                    {% for question in correct_questions %}
                        <div class="image-card">
                            <iframe src="{{ question.embed_URL }}" frameborder="0" allowfullscreen style="height: 400px;"></iframe>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No questions were answered correctly.</p>
            {% endif %}
        </section>

        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>
    </div>
</body>

</html>