@import "tailwindcss";

@layer components {
  .selected-species-item {
    @apply inline-block px-4 py-2 mx-1 my-1 bg-blue-100 border rounded-lg cursor-pointer transition;
  }

  .selected-species-item:hover {
    @apply bg-blue-600 text-white;
  }
}